[submodule "models/imagenet/deep-residual-networks"]
	path = models/imagenet/deep-residual-networks
	url = https://github.com/KaimingHe/deep-residual-networks.git
[submodule "nvdla-base/nvdla-sw"]
	path = nvdla-base/nvdla-sw
	url = git@github.com:ucb-bar/nvdla-sw.git
